.button{
    border: none;
    outline: none;
    padding-inline: 1.5rem;
    padding-block: 0.75rem;
    border-radius: 1rem;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

    &.primary-button{
        background-color: #9AE600;
        color: #000;
    }

    &:active{
        transform: scale(0.96);
    }
}

